<div>
  <div *ngIf="currentCliente.id" class="edit-form">
    <h4>Cliente</h4>
    <form>
      <div class="form-group">
        <label for="title">Nome</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentCliente.nome"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">CPF</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentCliente.cpf"
          name="description"
        />
      </div>

<!--      <div class="form-group">-->
<!--        <label><strong>Status:</strong></label>-->
<!--        {{ currentCliente.published ? "Published" : "Pending" }}-->
<!--      </div>-->
    </form>

<!--    <button-->
<!--      class="badge badge-primary mr-2"-->
<!--      *ngIf="currentCliente.published"-->
<!--      (click)="updatePublished(false)"-->
<!--    >-->
<!--      UnPublish-->
<!--    </button>-->
<!--    <button-->
<!--      *ngIf="!currentCliente.published"-->
<!--      class="badge badge-primary mr-2"-->
<!--      (click)="updatePublished(true)"-->
<!--    >-->
<!--      Publish-->
<!--    </button>-->

    <button class="badge badge-danger mr-2" (click)="deleteCliente()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCliente()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentCliente.id">
    <br />
    <p>Não foi possível acessar o cadastro desse cliente...</p>
  </div>
</div>
