<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="cliente.nome"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="cliente.cpf"
          name="description"
        />
      </div>

      <button (click)="saveCliente()" class="btn btn-success">salvar</button>
    </div>

    <div *ngIf="submitted">
      <h4>O Cliente foi enviado com sucesso!</h4>
      <button class="btn btn-success" (click)="newCliente()">adicionar</button>
    </div>
  </div>
</div>
